<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--/*@thymesVar id="employee" type=""*/-->
<form action="#" th:action="@{/save}"
      th:object="${em}" method="POST">

    <input type="text" th:field="*{name}"
           class="form-control mb-4 col-4" placeholder="Name">
<br>
    <input type="text" th:field="*{designation}"
           class="form-control mb-4 col-4" placeholder="Role">

    <button type="submit" class="btn btn-info col-2">Save</button>

</form>

<hr>
<a th:href="@{/}">Back to Employees List</a>

</body>
</html>