<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/bootstrap.min.css"   th:href="@{/bootstrap.min.css}">


</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">



                      <table th:class="table">

                          <thead>
                          <tr bgcolor="aqua">


                                 <td>Id </td>
                                 <td>Name</td>
                              <td>Role</td>


                          </tr>
                          </thead>

                          <tbody>

                          <th:block th:each="u : ${allUser}">
                              <tr>
                                  <td th:text="${u.id}"></td>
                                  <td th:text="${u.name}"></td>
                                              <th:block th:switch="${u.designation}">
                                                  <span th:case="Employee">
                                                      <td th:text="${u.designation}" bgcolor="red"></td>
                                                  </span>

                                                  <span th:case="Manager">
                                                      <td th:text="${u.designation}" bgcolor="#ffdead"></td>
                                                  </span>
                                              </th:block>
                              </tr>
                          </th:block>
                          </tbody>



                      </table>

            <br>
            <br>
            <a th:href="@{/add}">Add a Employees</a>





        </div>
    </div>
</div>



</body>
</html>

<!--<th:block>-->
<!--    <h1>-->
<!--        <th:block th:each="u : ${allUser}">-->

<!--            <th:block th:switch="${u.designation}">-->
<!--                <p th:case="'manager'"> Hi</p>-->

<!--            </th:block>-->

<!--        </th:block>-->
<!--    </h1>-->
<!--</th:block>-->